<!DOCTYPE html>
<html ng-app="myApp">
<head>
			<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
	<title></title>
</head>
<body>
<h3>
	All Bookings
</h3><br/>

<% for(var i=0; i < data.length; i++) { %>
	<% var link="/booking/" + data[i] %>
	<a href=<%= link %>>
	Booking id:<%= data[i] %>
	</a>
	<br/>

<% } %>


</body>
</html>