<!DOCTYPE html>
<html>
<head>
			<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<title></title>
</head>
<body>

<h1>
	Hello worldssd
</h1><br/>

<a href="/search-therapist">
	Search therapist
</a><br/>
<a href="/search-user">
	Search User
</a><br/>
<a href="/all-bookings">All bookings</a>


</body>
</html>