#container{
	margin-top: 100px;
}


.image img{
	max-height:300px;
}
.description{
	font-size: 20px;
	
}
.content{
	margin-top: 30px;
	padding: 10px;
	border: 5px solid teal;

}
.dropdown{
	width: 400px;
	height: 40px;
	border-radius: 8px;
}
.navbar{
	position: fixed; top: 0px; left: 0px; z-index: 999; width:100%
	
}
.nav{
	height:100px;
	border-bottom:1px solid grey;
	background-color: white;
	


}
.nav img{
	max-height: 50px;
	margin-top: 10px;
}
.prefrences{

}
.pref_heading{
	font-size: 20px;
	
}
textarea{
	width: 500px;
	height: 200px;
	border:5px solid orange;
	border-radius: 20px;
}
button{
	width: 300px;

}
.container{
	margin-bottom: 50px;
}