.navbar{
	position: fixed; top: 0px; left: 0px; z-index: 999; width:100%
	
}
.nav{
	height:100px;
	border-bottom:1px solid grey;
	background-color: white;


}
.nav img{
	max-height: 50px;
	margin-top: 0px;
}
table{
	text-align: center;
}
td img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
td {
	padding-top: 5px;
}


#content{
	margin-top: 100px;
}
input{
	height: 40px;
	margin-top: 10px;
	border:2px solid orange;
	border-radius: 10px;
	width: 300px;


}
.heading{
	font-size: 20px;
	margin-bottom: 20px;
}
