.section1{
	margin-top: 150px;
	margin-bottom:20px; }
.section1 .heading{
	margin-top: 70px;
	text-align: center;
	font-size: 30px;
margin-bottom: 30px;
}
.button{
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #f50505;
	color: white;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
}
.just-singup{
	margin-top: 30px;
	text-align: center;
	font-size: 1.1em;
}
a.signup{
	color: black;
	text-decoration: underline;
}
.right-image img{
	max-height: 400px;
}





                                          /*Section 2 begins here*/

.section2{
	background-color: #d5cc4e;
	
	
}
.therapist-info{
	margin-top: 40px;
}
.therapist-info .heading{
	font-size: 2em;
	color: black;
	font-weight: 600;

}
.therapist-info .subheading{
	margin-top: 30px;
	font-size: 1.3em;
}
.therapist-images{
	margin-top: 50px;
	margin-bottom: 40px;
}
.therapist-images img{
	max-height: 110px;

}
.therapist-images td{
	background-color: #d5cc4e;
}
.mobile-image img{

}







---------------------------------------------Section 3 STARTS here---------------------------------------

.section3{
	margin-top: 30px;
	}
.how-it-works{
	margin-bottom: 50px;
}
.how-it-works .heading{
	font-size: 2em;
	margin-top: 30px;
}

.how-it-works .description{
	font-size: 1.3em;
	margin-top: 50px;
}
.how-it-works-image {
	margin-top: 20px;
	margin-bottom: 40px;
}




















@media only screen and (max-width: 980px) {
    .section1 .heading{
	
	font-size: 26px;

}

.therapist-images img{
	 display: block;
    margin-left: auto;
    margin-right: auto;
	
}
.th-table{
	width: 100%;
}

.mobile-image img{
	margin-top: 70px;
}




}


@media only screen and (max-width: 770px) {

.section1 .heading{
	
	font-size: 22px;

}

.right-image{
	margin-top: 50px;
}

.right-image img{
	 display: block;
    margin-left: auto;
    margin-right: auto;
}

.mobile-image img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.section2{
	padding-bottom: 30px;
}



}

@media only screen and (max-width: 480px) {
	.section1{
	margin-top: 70px
}

.section1 .heading{
	
	font-size: 20px;

}

.therapist-info .heading{
	font-size: 20px;
	text-align: center;;
	
}
.therapist-info .subheading{
	
	font-size: 1em;
}
.last-td{
	display: none;
}

.how-it-works .heading{
	font-size: 20px;
	text-align: center;
	
}

.how-it-works .description{
	font-size: 1em;
}

.logo img{
	min-height: 45px;
}
}