<!DOCTYPE html>
<html>
<head>
	<title>Maalish</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>

	<div class="navbar col-lg-12 col-md-12 col-sm-12 col-xs-12">
	

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
		<img src="images/maalish-logo.png" class="img-responsive">
	</div>

	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

		<table width="100%">
			<tr class="topnav">
			  <td width="14.2%"><a class="active" href="#home">Get a Massage</a></td>
			  <td width="14.2%"><a href="#news">How It Works</a></td>
			  <td width="14.2%"><a href="#contact">Membership</a></td>
	   		  <td width="14.2%"><a href="#contact">Signin</a></td>
	   		  <td width="14.2%"><a href="#contact">Faq</a></td>
	     	  <td width="14.2%"><a href="#contact">Contact</a></td>
	 
	  		  <td width=14.2% class="icon">
	    			<a href="javascript:void(0);" style="font-size:14px;" onclick="myFunction()">☰</a>
	 		  </td>


			</tr>
		</table>


	</div>

	</div>


	<div class="container content">

		<div class="col-lg-9  col-md-9 col-sm-9 col-xs-12 col-lg-offset-3 col-xs-offset-0 col-md-offset-3 col-sm-offset-3">

		
		
		<div class="heading">
				CHECKOUT
		</div>

		<div ng-if="!details" class="loading">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>

		<div class="form" ng-if="details">
			<form action="https://test.payu.in/_payment" method="post" name="payuForm">

				<input id="input-hidden" ng-model="key" name="key"  />
			    <input id="input-hidden" ng-model="hash" name="hash"/>
			    <input id="input-hidden" ng-model="txnid" name="txnid" />
			    <input id="input-hidden" ng-model="authentication" name="udf5" />
			    <input id="input-hidden" ng-model="instructions" name="udf3">
			    <input id="input-hidden"	ng-model="date" name="udf4">
			    <input id="input-hidden"	ng-model="time" name="udf1">
			    <input id="input-hidden"	ng-model="duration" name="udf2">
			    
			    <input id="input-hidden"	ng-model="info" name="productinfo">
			    <input id="input-hidden"	ng-model="surl" name="surl">
			    <input id="input-hidden"	ng-model="furl" name="furl">

				<label for="firstname">Name</label><br/>
				<input type="text" name="firstname" ng-model="name" readonly><br/>

				<label for="email">Email</label><br/>
				<input type="text" name="email" ng-model="email" readonly><br/>

				<label for="phone">Phone</label><br/>
				<input  name="phone" ng-model="phone" readonly><br/>

				<label for="address">Address</label><br/>
				<textarea placeholder="Address" name="address" ng-model="address" readonly></textarea><br/>

				<label for="amount">Amount</label><br/>
				<input  name="amount" ng-model="amount" readonly><br/>
				

				<input class="button" type="submit" value="Pay Now" />

			</form>
		</div>

		</div>

	</div>

</body>
</html>