<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
</head>



	<body ng-app="myApp">
 		<div  ng-controller="AppCtrl" 
  <md-content>


    
    <h4>With ngMessages</h4>


    <form name="myForm">


      <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date"
          required md-min-date="minDate" md-max-date="maxDate"  md-open-on-focus></md-datepicker>

      <div class="validation-messages" ng-messages="myForm.dateField.$error">
        
        <div ng-message="required">This date is required!</div>
        <div ng-message="mindate">Date is too early!</div>
        <div ng-message="maxdate">Date is too late!</div>
        <div ng-message="valid">The entered value is not a date!</div>
        
      </div>

      {{myForm.dateField.$error}}
    </form>


    <button ng-click="check(myForm.dateField.$error)">Click</button>


  </md-content>
</div>
	
















	
	<script>
 
		// Include app dependency on ngMaterial 

angular.module('myApp',
    ['ngMaterial', 'ngMessages']).controller('AppCtrl', function($scope) {


  $scope.myDate = new Date();


  $scope.minDate = new Date();
  $scope.maxDate = new Date(
      $scope.myDate.getFullYear(),
      $scope.myDate.getMonth() + 1,
      $scope.myDate.getDate());

  $scope.check=function(data){

    if(data==""){

      console.log("data"+data);
    }else{
      console.log(data);
    }
  };

});
 
	</script> 

	<style type="text/css">
		.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }
	</style>
 
</body>
</html>