<!DOCTYPE html>
<html>
<head>
	<title>Maalish</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./stylesheets/home.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/nav.css">
</head>
<body>

	<div class="navbar col-lg-12 col-md-12 col-sm-12 col-xs-12">
	

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
		<img src="./images/maalish-logo.png" class="img-responsive">
	</div>

	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

		<table width="100%">
			<tr class="topnav">
			  <td width="14.2%"><a class="active" href="#home">Get a Massage</a></td>
			  <td width="14.2%"><a href="#news">How It Works</a></td>
			  <td width="14.2%"><a href="#contact">Membership</a></td>
	   		  <td width="14.2%"><a href="#contact">Signin</a></td>
	   		  <td width="14.2%"><a href="#contact">Faq</a></td>
	     	  <td width="14.2%"><a href="#contact">Contact</a></td>
	 
	  		  <td width=14.2% class="icon">
	    			<a id="menu-logo-link" href="javascript:void(0);" style="font-size:14px;" onclick="myFunction()">☰</a>
	 		  </td>


			</tr>
		</table>


	</div>

</div>

<!-- -------------------------------Content Starts Here-------------------------------- -->



	<div class="content">

		<div class="container section1">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

				<div class="heading">
					We bring you same day,<br/>
					in-house massages with the best<br/>
					licensed therapist
				</div>

				<a href="/service-type"><div class="button col-lg-6 col-md-8 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2 col-md-offset-2">
					GET A MASSAGE
				</div></a>

				<div class="just-singup col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
					or <a class="signup" href="/register">just signup!</a>
				</div>

			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-image">
				<img src="./images/home-massage.png" class="img-responsive">
			</div>
		</div>


		<div class="section2">
			<div class="container">

				<div class="mobile-image col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img src="./images/home-mobile.png" class="img-responsive">
				</div>

				<div class="therapist-info col-lg-8 col-md-8 col-sm-8 col-xs-12" >

					<div class="heading">
						5-STAR THERAPIST COME DIRECTLY TO YOU
					</div>

					<div class="subheading">
						Maalish therapist are licensed,background checked and thoroughly vetted.
					</div>

					<div class="therapist-images ">

						<table width="80%" class="th-table"> 
						<tr>
							<td class="td">
								<img src="./images/home-therapist-f.png" class="img-responsive">
							</td>
							<td class="td">
								<img src="./images/home-therapist-f.png" class="img-responsive">
							</td>
							<td class="td">
								<img src="./images/home-therapist-f.png" class="img-responsive">
							</td>
							<td class="td">
								<img src="./images/home-therapist-f.png" class="img-responsive">
							</td>
							<td class="last-td">
								<img src="./images/home-therapist-f.png" class="img-responsive">
							</td>
						</tr>
						</table>

					</div>

					<a href="/service-type"><div class="button col-lg-5 col-md-5 col-sm-6 col-xs-12 col-lg-offset-2 col-sm-offset-2 col-md-offset-2">
						GET A MASSAGE
					</div></a>


				</div>
			</div>
		</div>


		<div class="section3 container">

			<div class="how-it-works col-lg-6 col-md-6 col-sm-6 col-xs-12">

				<div class="heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
					How It Works
				</div>

				<div class="description col-lg-12 col-md-12 col-sm-12 col-xs-12">
					Maalish delivers a top quality massage to your home,hotel,workplace or event in as little as an hour, or at the time you want - up to a month in advance.
				</div>

			</div>

			<div class="how-it-works-image col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<img src="./images/home-howitworks.png" class="img-responsive">
			</div>

		</div>

	</div>


	<script>
function myFunction() {
    document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
}
</script>
</body>
</html>