<html ng-app="myApp"> 
  <head>
  	<base href="/">
      <meta charset="utf-8">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta nAMe="description" content="">
      <meta nAMe="viewport" content="width=device-width, initial-scale=1">
      <script type="text/javascript" src="/js/application.js"></script>
      <script type="text/javascript" src="/js/controllers/contrl1.js"></script>
      <script type="text/javascript" src="/js/controllers/contrl2.js"></script>
      <script type="text/javascript" src="/js/controllers/contrl3.js"></script>
      <script type="text/javascript" src="/js/controllers/contrl4.js"></script>
      <script type="text/javascript" src="/js/controllers/contrl5.js"></script>
      <script type="text/javascript" src="/js/controllers/contrl6.js"></script>

  </head>
  <body>


<div class="main" ng-view>

</div>
  </body>
</html>