<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
</head>

<body>

	<form action="" method="post">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password">
		<input type="submit" value="Login">
	</form><br/>
	<%= error %>
</body>

</html>