<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
</head>

<body>
	<form action="" method="post">
		<input type="text" name="username" placeholder="username"><br/>
		<input type="text" name="name" placeholder="name"><br/>
		<input type="password" name="password"><br/>
		<input type="text" name="phone" placeholder="phone"><br/>
		<input type="text" name="age" placeholder="Age"><br/>
		<input type="text" name="address" placeholder="Address"><br/>
		<input type="submit" value="Registers">
		<br/>
		<%  if(error){ %>
			<%= error %>
		<%  } %>
		 
	</form>
</body>

</html>