<!DOCTYPE html>
<link rel="stylesheet" href="./stylesheets/therapist-select.css">


      <div class="navbar ">
      <div class="nav">
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <table width="80%">

              <tr>
                <td width="50%">
                  <img class="img-responsive" src="http://worldartsme.com/images/massage-hands-silhouette-clipart-1.jpg">
                </td>
                <td>
                  <img class="img-responsive" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-128.png">
                </td>
              </tr>

              <tr width="50%">
                <td>{{service}}</td>
                <td>Time:{{times}},Date:{{dates}}</td>
              </tr>
            </table>
         </div>
      </div>
      </div>



      <div class="container" id="content" >

        <br/>
        <br/>

        <div class="search">
    <label>search: </label>
    <input ng-model="search.name" placeholder="Search for Therapists" autofocus>

    <label class="formgroup">by:
      <select ng-model="therapistorder">
        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="ratings">Ratings</option>
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>
   
  </div>

  <br/>
  <br/>
        <ul ng-repeat="objects in therapist_list | filter: search | orderBy: therapistorder:direction">
          <li>Userid:{{objects.userid}}<br/>
              Name:{{objects.name}}<br/>
              Bio:{{objects.bio}}<br/>
              Gender:{{objects.gender}}<br/>
              Price:{{objects.price}}<br/>
              Ratings:{{objects.ratings}}<br/>



          </li>
         <a href="/user_info"> <button class="btn btn-primary" ng-click="book(objects.userid,objects.name)">BOOK</button></a>
          <br/>
         </ul>
         <br/>
         <br/>
         {{booking_message}}
         <br/>
         <br/>
         

         <br/>
         <br/>
         {{yoyo}}

        

      </div>
