 <!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/angular-pickadate.css" />
    
  </head>

  <body ng-app="testApp" id="ng-app" ng-controller="TestController">
    <div class="container">

    <div ng-if="!calender">
    <h3>Loading...</h3>
    </div>
      <div  pickadate ng-if="calender" ng-model="date" multiple select-other-months="next" min-date="minDate" max-date="maxDate" no-extra-rows disabled-dates="disabledDates" ng-model="date"  format="dd/mm/yyyy"  >
	  <div class="selected-date">
        Selected date is {{date || '(no date selected)'}}
      </div><br/>
	  <button type="button" ng-click="addDates(date)" class="btn btn-primary">Select days</button>
	  </div>

	  {{error_message}}
      
	  
    </div>
    
    
    
    <script type="text/javascript" src="js/angular-pickadate.js"></script>
    <script type="text/javascript">
      var app=angular.module('testApp', ['pickadate']);

      app.controller('TestController', ['$scope','$http','dateFilter','$filter','$window',

		function ($scope,$http,dateFilter,$filter,$window) {

			

				$http({
		  method: 'GET',
		  url: '/api/get_booked_days'
		}).then(function successCallback(response) {
		   
		   	$scope.calender=true;
		   	$scope.disabledDates=response.data;
		   	var maxdate = new Date();
			maxdate.setDate(maxdate.getDate()+30);
			$scope.maxDate=$filter('date')(maxdate, 'dd/MM/yyyy');
			var datess=new Date();
			$scope.minDate=$filter('date')(datess, 'dd/MM/yyyy');
			}
			


		  , function errorCallback(response) {
		    
		  		$window.location.href = '/therapist-login';

		  });

			
			
			 $scope.addDates=function(date){
			 	$scope.error_message="";
				console.log(date);
				if(date.length==0){
					$scope.error_message="Please select atleast one day before submitting";
					console.log("err");
				}else{
				
					$scope.dateList=date;
				console.log($scope.dateList);
				var data={
					list:date
				};
				 $http.post('/api/therapist/book_days', data)
                         .then(
                             function(response){
                               // success callback
                               console.log("posted successfully");
                               $window.location.href = '/therapist-select-days';
                             
                             }, 
                             function(response){
                               // failure callbac
                               console.log("erro occ");
                                $window.location.href = '/therapist-select-days';
                             }
                          );
				}
				};
				
			
		

			}]);

      
    </script>
  </body>

</html>