 	
 	<link rel="stylesheet" href="./stylesheets/service.css">

 <div class="container" >
 	<br/><br/>

 	<select class="dropdown" nAMe="service_select" ng-model="service_Select">
     			 <option value="personal_training">Personal Training</option>
      			<option value="sports_massage">Sports Message</option>
      			<option value="aurvedic_massage">Aurvedic Message</option>
      			<option value="pilates">Pilates</option>
   			 </select>

   			 <a href="/try"> <button type="button" class="btn btn-success" ng-click="select()">Proceed!</button><br></a>
   			  <br/>
   			  <div class="content col-lg-12 col-md-12 col-sm-12  col-xs-12">
   			  	
   			  	<div class="image col-lg-12 col-md-12 col-sm-12  col-xs-12">
   			  		<img class="img-responsive" ng-src={{image}}>
   			  	</div><br/>

   			  	<div class="description">
   			  		<p>
   			  			{{description}}
   			  		</p>
   			  	</div>	

   			  </div>
   			 
 	</div>